.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3rem;

    &__cards-cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 3rem;
        gap: 2rem;

        &--list {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding-top: 1.5rem;
        }
    }

    .fa-brands {
        font-size: 2.5rem;
    }
}
