.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3rem;

    &__cards-cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 3rem;
        gap: 2rem;
    }
}
