// This page contains site-wide responsive Sass projects styles

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;

    &__heading {
        text-align: center;
    }

    &__cards-cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;
    }
}
