// This page contains site-wide responsive Sass bio styles

// Mobile styles
.bio {
    padding: 3rem;

    &__para {
        margin-top: 1rem;
        font-size: 1.1rem;
        line-height: 2rem;
        font-weight: 200;
    }
}

// .cv {
//     &__btn {
//         border: 0.2rem solid $colorBorder;
//         border-radius: 1rem;
//         padding: 1rem;
//         margin: 1rem;
//         font-family: 'Space Mono', monospace;
//         font-size: 1.2rem;

//         &:hover {
//             background-color: $colorPrimary;
//             cursor: pointer;
//             transition: 250ms ease-in-out;
//         }
//     }
// }

// Tablet and PC styles
@media screen and (min-width: 768px) {
    .bio {
        &__para {
            width: 800px;
        }
    }
}
