// This page contains site-wide responsive Sass bio styles

// Mobile styles
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;

    &__img {
        width: 200px;
        height: auto;
        border-radius: 100%;
        border: solid 0.3rem $colorBorder;
    }

    &__para {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

// .cv {
//     &__btn {
//         border: 0.2rem solid $colorBorder;
//         border-radius: 1rem;
//         padding: 1rem;
//         margin: 1rem;
//         font-family: 'Menlo', sans-serif;
//         font-size: 1.2rem;

//         &:hover {
//             background-color: $colorPrimary;
//             cursor: pointer;
//             transition: 250ms ease-in-out;
//         }
//     }
// }

// Tablet and PC styles
@media screen and (min-width: 768px) {
    .bio {
        &__para {
            font-size: 1.3rem;
            font-weight: 700;
            width: 800px;
        }
    }
}
