// This page contains site-wide responsive Sass bio styles

// Mobile styles
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 1.5rem;

    &__img {
        width: 200px;
        height: auto;
    }

    &__para {
        font-size: 1.3rem;
        font-weight: 700;
        padding: 0.5rem 0.8rem 2rem 0.8rem;
    }

    &__btn {
        @include btnTxtStyle;
        @include borderStyle;
        padding: 1.2rem;
        background-color: $colorBackgroundLight;
        scale: 1;

        &:hover {
            scale: 1.05;
            background-color: $colorPrimary;
            transition: all 250ms ease-in-out;
        }
    }
}

// Tablet and PC styles
@media screen and (min-width: 768px) {
    .bio {
        &__para {
            font-size: 1.3rem;
            font-weight: 700;
            width: 800px;
        }
    }
}
