// This page contains site-wide responsive Sass language styles
.language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 3px solid $colorBorder;

    &__btn {
        padding: 0.6rem;
        background-color: $colorBackgroundLight;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.5rem;
    }
}

.nav {
    display: flex;
    padding-bottom: 1.5rem;

    li {
        padding: 2.5rem 0;
        text-align: center;
        margin-right: 1rem;
        font-size: 1rem;
    }

    #middle-item {
        border-top: 2px solid $colorBorder;
        // border-bottom: 2px solid $colorBorder;
    }
}

.current-page {
    font-weight: 900;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;

    &-link {
        font-size: 2.5rem;
    }
}

// Tablet and PC styles
@media screen and (min-width: 768px) {
    .language {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav {
        padding-bottom: 0;

        li {
            padding: 0 2rem;
            display: inline-block;

            &:hover {
                color: $colorTertiary;
                transition: 250ms ease-in-out;
            }
        }

        #middle-item {
            border-top: none;
            // border-bottom: none;
        }
    }
}
