// This page contains site-wide responsive Sass language styles

.language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 3px solid $colorBorder;

    &__flex-item {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__btn {
        @include borderStyle;
        @include btnTxtStyle;
        padding: 1rem;
        background-color: $colorBackgroundLight;
        font-size: 2rem;

        &:hover {
            background-color: $colorPrimary;
            transition: 250ms;
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;

    &__list {
        list-style-type: none;
    }

    li {
        padding: 1rem 0;
        margin-right: 3rem;
    }
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;

    &-link {
        font-size: 2.5rem;

        &:hover {
            color: $colorTertiary;
            transition: 250ms;
        }
    }
}

// Tablet and PC styles
@media screen and (min-width: 768px) {
    .language {
        justify-content: space-between;
    }

    .nav {
        li {
            padding: 0 2rem;
            display: inline-block;

            &:hover {
                color: $colorTertiary;
                transition: 250ms ease-in-out;
            }
        }
    }
}
