// This page contains site-wide responsive Sass language styles

.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-bottom: 3px solid $colorBorder;

    &__btn {
        @include borderStyle;
        @include btnTxtStyle;
        padding: 1rem;
        background-color: $colorBackgroundLight;
        font-size: 2rem;

        &:hover {
            background-color: $colorPrimary;
            transition: 250ms;
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &-link {
        &:hover {
            color: $colorTertiary;
            transition: 250ms;
        }
    }
}
