// This page contains site-wide responsive Sass card styles

// Mobile styles
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include borderStyle;
    padding: 2rem 1rem;
    height: 700px;
    width: 275px;

    &__img {
        @include borderStyle;
        height: auto;
        width: 320px;
        margin-bottom: 1rem;
        background-color: #fff;
    }

    &__heading {
        align-self: flex-start;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    &__para {
        font-size: 1rem;
    }

    &__icons {
        align-self: flex-start;
    }

    &:hover {
        background-color: $colorPrimary;
        transition: 250ms ease-in-out;
    }
}

// Tablet and PC styles
@media screen and (min-width: 768px) {
    .card {
        width: 360px;

        // &__img {
        //     width: 320px;
        // }

        &__heading {
            font-size: 1.2rem;
        }

        &__para {
            font-size: 1.2rem;
        }
    }
}
