.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include borderStyle;
    padding: 2rem 1rem;
    width: 360px;
    scale: 1;

    &__img {
        @include borderStyle;
        height: 320px;
        width: auto;
        margin-bottom: 1rem;
        background-color: #fff;
    }

    &__heading {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }

    &__para {
        font-size: 1.2rem;
    }

    &:hover {
        background-color: $colorPrimary;
        scale: 1.01;
        transition: all 250ms;
    }
}
