// This page contains site-wide responsive Sass header styles

// Mobile styles
.header {
    padding: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 0.2rem solid $colorBorder;
    width: 100%;
    background-color: $colorPrimary;
    font-size: 2rem;
    font-weight: 900;
}
