// This page contains site-wide responsive Sass footer styles

.footer {
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 0.2rem solid $colorBorder;
    width: 100%;
    font-size: 1rem;
}
