// This page contains site-wide responsive Sass footer styles

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    border-top: 0.2rem solid $colorBorder;
    width: 100%;
    font-size: 0.8rem;
}
