// This page contains site-wide Sass styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #fff;
    color: $colorBorder;
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: $colorBorder;
}
