// This page contains site-wide Sass variables

// Formats
@mixin borderStyle {
    border: 3px solid $colorBorder;
    border-radius: 10px;
}

@mixin btnTxtStyle {
    padding: 0.5rem;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
