// This page contains site-wide Sass variables

// Colours
$colorPrimary: #f6ddff;
$colorSecondary: #effcff;
$colorTertiary: #504d92;

$colorBorder: #3d3c3c;

// $colorBackgroundLight: #e3e4fd;
// $colorBox: #d9d9d9;
